@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<html>
    <body>
        <h2>Roles</h2>
        <br />
        <p>
            The roles will be displayed here ...
        </p>
    </body>
</html>